PORT=4000
NODE_ENV=production
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=jobsi
NEXT_PUBLIC_SUPABASE_URL=https://ilhmnorbbawzpefdyliz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_k67wv4KC5mkc3pWUVyouBw_qOmGRL8l
